:root {
	--buttons: #FFA700;
	--secondary: #FFA700;
	--accent: #FFA700;
	--accent-alt: #707070;
	--link-alt: #FFA700;
	--main-bg-alt: #1D1D1D;
	--link: #FFA700;
	--inner-bg-alt: #707070;
	--primary: #707070;
	--main-bg: #FFFFFF;
	--inner-bg: #EBEBEB;
	--text: #1D1D1D;
	--primary-alt: #FFFFFF;
	--black: #000000;
	--secondary-alt: #FFFFFF;
	--text-alt: #FFFFFF;
}